.trips-wrapper{
    margin: 15px auto;
    width: 85%;
}
.trip-card-wrapper{
    display: inline-block;
    margin: 20px 2%;
    width: 40%;
}
.trip-exception-message{
    padding-top: 35px;
}
.mat-tab-body-active{
    overflow-y: unset !important;
}