<mat-toolbar color="primary" *ngIf="isLoggedIn$ | async as isLoggedIn">
  <a mat-button routerLink="/home">
    <span>
      <img src="assets/img/angular_whiteTransparent.svg" class="application-logo">
      Hsv Air
    </span>
  </a>
  <span class="fill-remaining-space"></span>
  <button mat-button>About</button>
  <button mat-button>Contact</button>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </a>
    <a mat-menu-item routerLink="/flightsbooking">
      <mat-icon>flight</mat-icon>
      <span>Book a ticket</span>
    </a>
    <button mat-menu-item>
      <mat-icon>history</mat-icon>
      <span>Booking history</span>
    </button>
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
    
  </mat-menu>
  <!-- <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button> -->
</mat-toolbar>